.login-header {
    --ion-background-color: #795548; /* Warna coklat */
  }
  
  .login-title {
    color: #fff; /* Warna teks putih */
  }
  
  .login-content {
    --ion-background-color: #d7ccc8; /* Warna latar belakang coklat muda */
  }
  
  .login-input {
    --ion-background-color: #efebe9; /* Warna latar belakang abu-abu muda */
  }
  
  .login-label {
    color: #5d4037; /* Warna teks coklat tua */
  }
  
  .login-button {
    --ion-background-color: #4e342e; /* Warna tombol coklat tua */
    color: #fff; /* Warna teks putih */
  }
  