<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Kontak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of dataKontak">
    <ion-item>
      <ion-label>
        <h2>{{ item.nama }}</h2>
        <p>{{ item.email }}</p>
        <p>{{ item.telepon }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="hapusKontak(item.id)">Hapus</ion-button>
        <ion-button (click)="open_modal_edit(true, item.id)">Edit</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="full" fill="solid">Tambah Data Kontak</ion-button>
  </ion-card>

  <!-- Modal Tambah Kontak -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Data Kontak</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Kontak</ion-label>
          <ion-input [(ngModel)]="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email Kontak</ion-label>
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nomor Telepon</ion-label>
          <ion-input [(ngModel)]="telepon" type="text"></ion-input>
        </ion-item>
        
        <ion-row>
          <ion-col>
            <ion-button (click)="tambahKontak()" color="primary" expand="full">Tambah Data Kontak</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal Edit Kontak -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Kontak</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nama Kontak</ion-label>
          <ion-input [(ngModel)]="nama" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email Kontak</ion-label>
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nomor Telepon</ion-label>
          <ion-input [(ngModel)]="telepon" type="text"></ion-input>
        </ion-item>
        
        <ion-input [(ngModel)]="id" type="hidden"></ion-input>
        <ion-row>
          <ion-col>
            <ion-button (click)="editKontak()" color="primary" expand="full">Edit Kontak</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
